openapi: 3.0.3
info:
  title: API for Astrophysics Data System (ADS)
  description: |
    ## API for the NASA Astrophysics Data System

    The source code for the project can be found at https://github.com/adsabs.

    Individual components:
    * Search: https://github.com/adsabs/solr-service
    * Stored search: https://github.com/adsabs/vault
    * Libraries: https://github.com/adsabs/biblib-service
    * Export: https://github.com/adsabs/export_service
    * Metrics: https://github.com/adsabs/metrics_service
    * Author affiliation: https://github.com/adsabs/author_affiliation_service
    * Citation helper: https://github.com/adsabs/citation_helper_service
    * Classic import: https://github.com/adsabs/harbour-service
    * Objects: https://github.com/adsabs/object_service
    * Recommender: https://github.com/adsabs/oracle_service
    * Reference: https://github.com/adsabs/reference_service
    * Resolver: https://github.com/adsabs/resolver_service
    * Notifications: https://github.com/adsabs/vault
    * Visualizations: https://github.com/adsabs/vis-services

    This documentation follows the [OpenAPI specification](https://swagger.io/specification/).
    The UI was created with [RapiDoc](https://mrin9.github.io/RapiDoc/index.html).
  termsOfService: https://ui.adsabs.harvard.edu/help/terms/
  contact:
    name: ADS Help
    url: https://github.com/adsabs/adsabs-dev-api
    email: adshelp@cfa.harvard.edu
  version: 1.0.0
servers:
  - url: https://api.adsabs.harvard.edu/{basePath}
    description: Production Server
    variables:
      basePath:
        default: v1
        enum:
          - v1
  - url: https://devapi.adsabs.harvard.edu/{basePath}
    description: Development Server
    variables:
      basePath:
        default: v1
        enum:
          - v1
tags:
  - name: search
  - name: stored search
  - name: libraries
  - name: export (tagged formats)
  - name: export (LaTeX formats)
  - name: export (XML formats)
  - name: export (other)
  - name: metrics
  - name: author affiliation
  - name: citation helper
  - name: classic import
  - name: objects
  - name: recommender
  - name: reference
  - name: resolver
  - name: notifications
  - name: visualizations
components:
  securitySchemes:
    ApiKeySecurity:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    q:
      $ref: 'parameters.yaml#/q'
    rows:
      $ref: 'parameters.yaml#/rows'
    fq:
      $ref: 'parameters.yaml#/fq'
    fl:
      $ref: 'parameters.yaml#/fl'
    start:
      $ref: 'parameters.yaml#/start'
    sort:
      $ref: 'parameters.yaml#/sort'
    bibcode:
      $ref: 'parameters.yaml#/bibcode'
    link:
      $ref: 'parameters.yaml#/link'
    queryId:
      $ref: 'parameters.yaml#/queryId'
    myadsId:
      $ref: 'parameters.yaml#/myadsId'
  responses:
    QTree:
      $ref: 'responses.yaml#/QTree'
    SearchResults:
      $ref: 'responses.yaml#/SearchResults'
    VaultResponse:
      $ref: 'responses.yaml#/VaultResponse'
    ExportResponse:
      $ref: 'responses.yaml#/ExportResponse'
    ExportResponseGet:
      $ref: 'responses.yaml#/ExportResponseGet'
    ResolverResponse:
      $ref: 'responses.yaml#/ResolverResponse'
  schemas:
    qtree:
      $ref: 'schemas.yaml#/qtree'
    results:
      $ref: 'schemas.yaml#/results'
    doc:
      $ref: 'schemas.yaml#/doc'
    responseHeader:
      $ref: 'schemas.yaml#/responseHeader'
    vaultObject:
      $ref: 'schemas.yaml#/vaultObject'
    basicMetricsResponse:
      $ref: 'schemas.yaml#/basicMetricsResponse'
    myADSsummaryResponse:
      $ref: 'schemas.yaml#/myADSsummaryResponse'
    myADSdetailResponse:
      $ref: 'schemas.yaml#/myADSdetailResponse'
    bibcodeObject:
      $ref: 'schemas.yaml#/bibcodeObject'
    bibcodesObject:
      $ref: 'schemas.yaml#/bibcodesObject'
    libraryMetadata:
      $ref: 'schemas.yaml#/libraryMetadata'
  requestBodies:
    exportBody:
      $ref: 'requestBodies.yaml#/exportBody'
security:
  - ApiKeySecurity: []
paths:
  /search/query:
    $ref: 'services/solr.yaml#/search-query'
  /search/qtree:
    $ref: 'services/solr.yaml#/search-qtree'
  /search/bigquery:
    $ref: 'services/solr.yaml#/search-bigquery'
  /vault/query:
    $ref: 'services/vault.yaml#/vault-query'
  /vault/query/{queryId}:
    $ref: 'services/vault.yaml#/vault-query-queryId'
  /vault/execute_query/{queryId}:
    $ref: 'services/vault.yaml#/vault-execute_query'
  /vault/query2svg/{queryId}:
    $ref: 'services/vault.yaml#/vault-query2svg'
  /biblib/libraries:
    $ref: 'services/biblib.yaml#/biblib-libraries'
  /biblib/libraries/{library_id}:
    $ref: 'services/biblib.yaml#/biblib-libraries-library_id'
  /biblib/libraries/operations/{library_id}:
    $ref: 'services/biblib.yaml#/biblib-libraries-operations'
  /biblib/documents/{library_id}:
    $ref: 'services/biblib.yaml#/biblib-documents'
  /biblib/permissions/{library_id}:
    $ref: 'services/biblib.yaml#/biblib-permissions'
  /biblib/transfer/{library_id}:
    $ref: 'services/biblib.yaml#/biblib-transfer'
  /export/bibtexabs:
    $ref: 'services/export.yaml#/export-bibtexabs'
  /export/bibtex:
    $ref: 'services/export.yaml#/export-bibtex'
  /export/ads:
    $ref: 'services/export.yaml#/export-ads'
  /export/endnote:
    $ref: 'services/export.yaml#/export-endnote'
  /export/procite:
    $ref: 'services/export.yaml#/export-procite'
  /export/ris:
    $ref: 'services/export.yaml#/export-ris'
  /export/refworks:
    $ref: 'services/export.yaml#/export-refworks'
  /export/medlars:
    $ref: 'services/export.yaml#/export-medlars'
  /export/aastex:
    $ref: 'services/export.yaml#/export-aastex'
  /export/icarus:
    $ref: 'services/export.yaml#/export-icarus'
  /export/mnras:
    $ref: 'services/export.yaml#/export-mnras'
  /export/soph:
    $ref: 'services/export.yaml#/export-soph'
  /export/dcxml:
    $ref: 'services/export.yaml#/export-dcxml'
  /export/refxml:
    $ref: 'services/export.yaml#/export-refxml'
  /export/refabsxml:
    $ref: 'services/export.yaml#/export-refabsxml'
  /export/votable:
    $ref: 'services/export.yaml#/export-votable'
  /export/rss:
    $ref: 'services/export.yaml#/export-rss'
  /export/rss/{link}:
    $ref: 'services/export.yaml#/export-rss-link'
  /export/ieee:
    $ref: 'services/export.yaml#/export-ieee'
  /export/csl:
    $ref: 'services/export.yaml#/export-csl'
  /export/custom:
    $ref: 'services/export.yaml#/export-custom'
  /metrics:
    $ref: 'services/metrics.yaml#/metrics'
  /metrics/{bibcode}:
    $ref: 'services/metrics.yaml#/metrics-bibcode'
  /metrics/detail:
    $ref: 'services/metrics.yaml#/metrics-detail'
  /author-affiliation/search:
    $ref: 'services/author-affiliation.yaml#/author-affiliation-search'
  /author-affiliation/export:
    $ref: 'services/author-affiliation.yaml#/author-affiliation-export'
  /citation_helper:
    $ref: 'services/citation_helper.yaml#/citation_helper'
  /harbour/mirrors:
    $ref: 'services/harbour.yaml#/harbour-mirrors'
  /harbour/user:
    $ref: 'services/harbour.yaml#/harbour-user'
  /harbour/auth/classic:
    $ref: 'services/harbour.yaml#/harbour-auth-classic'
  /objects:
    $ref: 'services/objects.yaml#/objects'
  /objects/query:
    $ref: 'services/objects.yaml#/objects-query'
  /oracle/matchdoc:
    $ref: 'services/oracle.yaml#/oracle-matchdoc'
  /oracle/readhist:
    $ref: 'services/oracle.yaml#/oracle-readhist'
  /oracle/readhist/{function}/{reader}:
    $ref: 'services/oracle.yaml#/oracle-readhist-reader'
  /reference/text/{reference}:
    $ref: 'services/reference.yaml#/reference-text-reference'
  /reference/text:
    $ref: 'services/reference.yaml#/reference-text'
  /reference/xml:
    $ref: 'services/reference.yaml#/reference-xml'
  /resolver/{bibcode}:
    $ref: 'services/resolver.yaml#/resolver-bibcode'
  /resolver/{bibcode}/{link_type}:
    $ref: 'services/resolver.yaml#/resolver-bibcode-link_type'
  /vault/notifications:
    $ref: 'services/vault.yaml#/vault-notifications'
  /vault/notifications/{myads_id}:
    $ref: 'services/vault.yaml#/vault-notifications-myads_id'
  /vault/notification_query/{myads_id}:
    $ref: 'services/vault.yaml#/vault-notification_query'
  /vis/author-network:
    $ref: 'services/vis.yaml#/vis-author-network'
  /vis/paper-network:
    $ref: 'services/vis.yaml#/vis-paper-network'
  /vis/word-cloud:
    $ref: 'services/vis.yaml#/vis-word-cloud'
externalDocs:
  description: Complete documentation describing how to use this API
  url: https://github.com/adsabs/adsabs-dev-api
